ase
py7zr
requests
mpds_client
about-time==4.2.1
-e git+https://github.com/aiidateam/aiida-common-workflows@efa2c64dab2a1eaa3474aec40e79c845fdfaf9b8#egg=aiida_common_workflows
aiida-core==2.6.4
aiida-crystal-dft
-e git+https://github.com/tilde-lab/aiida-dummy.git@c07a471859733328424452274e9f5fe9df3bf7e9#egg=aiida_dummy
aiida-fleur==2.0.0
-e git+https://github.com/akvatol/aiida-gui.git@b410ad17ab2cfb34b024d869bd0d20092ca89146#egg=aiida_gui
aiida-phonopy==1.2.0
aiida-pythonjob==0.2.5
aiida-reoptimize 
aiida-shell==0.8.1
aiida-workgraph==0.6.0
aio-pika==6.8.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiormq==3.3.1
aiosignal==1.3.2
alembic==1.16.1
alive-progress==3.2.0
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.10.0
anywidget==0.9.18
appdirs==1.4.4
archive-path==0.4.2
argcomplete==3.6.1
ase==3.25.0
ase-fleur @ git+https://github.com/blokhin/ase-fleur@ad87310aadb38cd9522c00ed7c0920a99dec3e0c
asn1crypto==1.5.1
asttokens==3.0.0
async-generator==1.10
asyncssh==2.20.0
asyncstdlib==3.13.1
attrs==25.3.0
autograd==1.8.0
azure-common==1.1.28
azure-core==1.33.0
azure-identity==1.10.0
azure-mgmt-compute==27.2.0
azure-mgmt-core==1.5.0
azure-mgmt-network==20.0.0
backoff==2.1.2
backports.tarfile==1.2.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
blinker==1.8.2
bs4==0.0.2
CacheControl==0.12.14
cachy==0.3.0
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
circus==0.18.0
cleo==0.8.1
click==8.1.8
click-completion==0.5.2
click-spinner==0.1.10
clikit==0.6.2
cloudpickle==3.1.1
cma==3.2.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
crashtest==0.3.1
cryptography==45.0.3
cycler==0.12.1
Cython==3.0.12
decorator==5.2.1
deepdiff==8.1.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.4.0
disk_objectstore==1.3.0
distlib==0.4.0
docker==5.0.3
docstring_parser==0.16
docutils==0.21.2
dotenv==0.9.9
executing==2.2.0
fastapi==0.116.1
filelock==3.19.1
Flask==3.0.3
flask-cors==6.0.1
Flask-RESTful==0.3.10
flexcache==0.3
flexparser==0.4
fonttools==4.58.1
frozenlist==1.6.0
future==1.0.0
grapheme==0.6.0
graphviz==0.20.3
greenlet==3.2.2
h11==0.16.0
h5py==3.12.1
hcloud==2.5.3
html5lib==1.1
httplib2==0.22.0
humanfriendly==10.0
identify==2.6.14
idna==3.10
imbalanced-learn==0.12.3
imblearn==0.0
importlib-metadata==6.11.0
iniconfig==2.0.0
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.18.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonschema==3.2.0
jsonschema-specifications==2025.4.1
jupyterlab_widgets==3.0.15
keyring==25.6.0
kiwipy==0.7.8
kiwisolver==1.4.8
latexcodec==3.0.0
lockfile==0.12.2
lxml==4.9.4
Mako==1.3.10
MarkupSafe==2.0.1
masci-tools==0.15.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mendeleev==0.18.1
monty==2025.1.9
more-itertools==10.6.0
mpds-aiida 
mpds-client==0.24
mpds-ml-labs==0.0.7
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.1
msrest==0.7.1
multidict==6.4.4
narwhals==1.24.1
nest-asyncio==1.6.0
networkx==3.4.2
node-graph-widget==0.0.5
node_graph==0.2.19
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
orderly-set==5.2.3
packaging==20.9
palettable==3.3.3
pamqp==2.3.0
pandas==2.2.3
paramiko==2.12.0
parso==0.8.4
pastel==0.2.1
periodictable==2.0.2
pexpect==4.9.0
pg8000==1.31.2
pgsu==0.2.4
pillow==11.2.1
Pint==0.24.4
pipx==1.7.1
pkginfo==1.12.1.2
platformdirs==4.3.7
plotly==6.0.0
pluggy==1.5.0
plumpy==0.21.11
ply==3.11
poetry==1.1.15
poetry-core==1.0.8
portalocker==2.8.2
pre-commit==2.21.0
progressbar==2.5
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==5.9.8
psycopg2-binary==2.9.10
psygnal==0.14.1
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pybtex==0.24.0
PyCifRW==4.4.6
pycodcif==3.0.1
pycparser==2.22
pycrystal @ git+https://github.com/tilde-lab/pycrystal@9287992dfa99be33eba821799450d86edaf1c1ce
pydantic==2.11.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyfiglet==0.8.post1
Pygments==2.19.1
pyhull==2015.2.1
PyJWT==2.10.1
pylev==1.4.0
pymatgen==2024.5.1
pymoo==0.6.1.3
PyMySQL==0.9.3
PyNaCl==1.5.0
pyocse==0.1.2
pyparsing==3.2.3
pyrsistent==0.20.0
PySnooper==1.2.0
pytest==6.2.5
pytest-datadir==1.5.0
pytest-regressions==2.5.0
python-daemon==2.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytray==0.3.4
pytz==2021.3
pyxtal==1.0.7
PyYAML==6.0.2
pyzmq==26.4.0
reentry==1.3.3
referencing==0.36.2
requests==2.28.2
requests-cache==0.5.2
requests-oauthlib==2.0.0
requests-toolbelt==0.9.1
requirements-parser==0.2.0
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.6.9
scikit-learn==1.5.0
scipy==1.15.3
scramp==1.4.5
seaborn==0.13.2
SecretStorage==3.4.0
seekpath==1.9.7
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
spglib==2.6.0
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.47.3
symfc==1.5.1
sympy==1.13.3
tabulate==0.9.0
termcolor==3.1.0
threadpoolctl==3.5.0
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
ujson==5.10.0
uncertainties==3.2.2
upcloud_api==2.6.0
upf-to-json==0.9.5
urllib3==1.26.20
userpath==1.9.2
uvicorn==0.35.0
vasprun-xml==1.0.4
virtualenv==20.34.0
wcwidth==0.2.13
weas_widget==0.1.26
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.4
widgetsnbextension==4.0.14
wrapt==1.17.2
xmltodict==0.14.2
yarl==1.20.0
yascheduler==1.5.0
zipp==3.22.0
polars